/* MovieBlockSmall */
.row__images{
  width: 100%;
  object-fit: contain;
  max-height: 8em;
  transition: transform 450ms;
  margin-right: 1em;

}

.row__images:hover{
  transform: scale(1.08);

}

/* MovieBlockLarge */

.row__images-Large{
  max-height: 15rem;
}

.row__images-Large:hover{
  transform: scale(1.09);
}

/* nav bar */
.nav__logo{
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar{
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

/* banner */

.banner__button{
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
 

}

.banner__button:hover{
color: black;
background-color: #e6e6e6;
transition: all 0.2s;
}

.banner_title{
  padding: 0;
  margin:0;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description{
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}